body {
    background-color: gray;
}
h1 {
    text-align: center;
    font-size: 30px;
}
.tudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 0 auto;
    max-width: 8000px;
}
.conteúdo {
    text-align: justify;
    font-size: 20px;
}
.negrito {
    font-weight: bold;
}
.itálico {
    font-style: italic;
}
.flex-container {
    font-size: 20px;
}
.imagem {
    height: 400px;
    width: 500px;
    margin-top: 10px;
    margin-left: 12px;
}
.imagem2 {
    height: 250px;
    width: 400px;
    margin-top: 10px;
    margin-left: 12px;    
}
.imagem3 {
    height: 300px;
    width: 500px;
    margin-top: 10px;
    margin-left: 12px; 
}